html {
  height: 100%;
  width: 100%;
}
body{
background-color: #F6eacb;
}
.titulo{
display: flex;
  justify-content: center;
  aliagn-items: center;
}
.titulo p{
  font-size: 50px;
  color: #405d72;
  font-weight: bold;
}
.titulo img{
  width: 500px;
  margin: 50px;
}